@font-face {
    font-family: Norse-Bold;
    src: url(./assets/Norse-Bold.otf);
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    font-size: 1.25rem;
}

.left {
    width: 40%;
    height: 100vh;
    background-image: url("assets/halie-west-25xggax4bSA-unsplash.jpg");
    background-size: cover;
    background-position: center;
    color: white;
}

.logo{
    margin-top: 23vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15%;
    font-family: Norse-Bold, sans-serif;
    font-size: 10vh;
}

.logo img {
    height: 80%;
    width: auto;
}

.right {
    width: 65%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: rgb(241, 241, 241);
    font-family: "roboto", sans-serif;
    font-weight: 550;
}

.content {
    height: 70%;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.padding{
    padding-left: 2.5rem;
    padding-right: 9.5rem;
}

.form {
    margin-top: 1rem;
}

fieldset {
    border: none;
    margin: 0px;
    padding: 0px;
    background-color: white;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.inputs {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
    column-gap: 3rem;
    padding-bottom: 2rem;
    width: 600px;
    margin-top: 1.5rem;
}

label {
    font-size: .75rem;
    color: rgb(55, 56, 58);
    letter-spacing: .1rem;
}

.input {
    display: flex;
    flex-direction: column;
}

input {
    width: 240px;
    margin-top: .25rem;
    padding: .4rem .5rem;
    border: .1rem solid #E5E7EB;
    border-radius: .2rem;
    font-size: .9rem;
}

input:focus {
    border-color: rgb(30, 101, 255);
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

input[type="password"]:invalid {
    border-color: red;
}

.button {
    margin: 2rem 0;
}

button {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: .75rem;
    padding-bottom: .75rem;
    margin: 0;
    border: none;
    background-color: #596D48;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    border-radius: .5rem;
}

.already {
    font-size: 1rem;
    font-weight: 500;
}

.login {
    color: #596D48;
    font-weight: 600;
}